.poleInput {
  position: relative;
  padding: 10px;
  margin: 10px 0;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  color: tomato;
  font-family: monospace;
  transition: all 1s ease-in-out;
}

.poleInput:focus {
  caret-color: white;
  border: none;
  border-color: white;
  border-style: none;
}
